@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    /* Define CSS variables for the light theme colours */
    --background: #ffffff; /* white background */
    --foreground: #171717; /* near-black text */
}

@theme inline {
    /* Maps your CSS vairables to Tailwind's colour system */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    /* Automatically switches colours when a user's system is dark mode */
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
